<div class="container">
  <!-- Div para la información del producto (izquierda) -->
  <div class="product-info">
    <h2>{{hosting.title}}</h2>
    <p>{{hosting.description}}</p>
    <h3>Experiencias y Servicios Disponibles</h3>
    <ul class="item-list">
      <!-- Nuevo control flow @for -->
      @for (service of additionalServices; track service.concept) {
        <li>
          <label>
            <input type="checkbox" [value]="service.concept" (change)="onServiceSelect(service, $event)">
            {{ service.name }} - ${{ service.price }}
          </label>
        </li>
      }
    </ul>
  </div>

  <!-- Div para el carrito de compras (derecha) -->
  <div class="shopping-cart">
    <h2 class="cart-title">Servicios adicionales</h2>
    <ul>
      <!-- Nuevo control flow @for -->
      @for (selectedService of selectedServices; track selectedService.concept) {
        <li>
          {{ selectedService.concept }} - ${{ selectedService.amount}}
        </li>
      }
    </ul>
    <p class="total">Total: ${{ total }}</p>
    <button class="order-btn">Reservar</button>
  </div>
</div>