/* Estilos generales */
.container {
    display: flex; /* Usamos Flexbox para organizar los divs */
    justify-content: space-between; /* Espacio entre los dos divs */
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 98%;
  }

  
  /* Estilos para la sección de información del producto (izquierda) */
  .product-info {
    width: 60%; /* Ancho del 60% del contenedor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .product-info h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 25px;
  }
  
  .product-info p {
    margin: 5px 0;
    color: #555;
  }
  
  .product-info h3 {
    margin-top: 20px;
    color: #333;
  }
  
  .item-list {
    list-style-type: none;
    padding: 0;
  }
  
  .item-list li {
    margin: 10px 0;
  }
  
  .item-list label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .item-list input {
    margin-right: 10px;
  }
  
  /* Estilos para el carrito de compras (derecha) */
  .shopping-cart {
    width: 35%; /* Ancho del 35% del contenedor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .shopping-cart h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .shopping-cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-cart li {
    margin: 10px 0;
    color: #555;
  }
  
  .shopping-cart .total {
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  .cart-title{
    font-size: 25px;
    text-align: center;
  }

.order-btn{
  align-items: center;
  cursor: pointer;
  width: 95%;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  padding: 14px 24px;
  transition: box-shadow .2s ease,transform .1s ease;
  border: none;
  background: green;
}