
<header>
    <div class="header-content">
        <div class="logo">
            <img src="" alt="">
            <h2>ecoairbnb</h2>
        </div>
        <nav>
            <div class="home-nav" routerlink="/" routerlinkactive="active" tabindex="0">
                <span>Inicio</span>
            </div>
            <div>
                <span class="dark_mode material-symbols-outlined">dark_mode</span>
            </div>
            <div _ngcontent-hdn-c61="" class="menu">
                <span class="menu-bars material-symbols-outlined">menu</span>
                <span class="account_circle material-symbols-outlined">account_circle</span>
            </div>
        </nav>
    </div>
    <div>
        
    </div>
</header>