<p>galery works!</p>
<div class="banner"></div>
<header id="photos">
    <div class="header-info">
        <h1>Finca ecoturistica "El Manantial"</h1>
        <div class="flex align-center">
            <div class="rate">
                <span class="material-symbols-outlined">star</span><span>4,5</span>
            </div>
            <div class="localizacion" href="#location">{{localizacion}}</div>
        </div>
    </div>
    <div class="share-save">
        <span class="share"><span class="material-symbols-outlined">share</span>Share</span>
        <span class="save"><span class="material-symbols-outlined">favorite</span>Save</span>
    </div>
</header>
<div class="img-container">
    <img  loading="lazy" alt="" class="img" src="http://res.cloudinary.com/dmtlr2viw/image/upload/v1663436255/nmccht42mpd6erdeqjhi.jpg">
    <img  loading="lazy" alt="" class="img" src="http://res.cloudinary.com/dmtlr2viw/image/upload/v1663436872/i3jblqgpdttpwvshbffo.jpg">
    <img  loading="lazy" alt="" class="img" src="http://res.cloudinary.com/dmtlr2viw/image/upload/v1663437009/zuu2udtrkcs6sxjiym40.jpg">
    <img  loading="lazy" alt="" class="img" src="http://res.cloudinary.com/dmtlr2viw/image/upload/v1663436556/mb70fifvvpvde8jub5cg.jpg">
    <img  loading="lazy" alt="" class="img" src="http://res.cloudinary.com/dmtlr2viw/image/upload/v1663437344/r4w6s3af55tdt5y1lrcc.jpg">
</div>
<div class="order-info">
    <div class="description-services">

    </div>
    <div class="order">

    </div>
</div>
