<div class="banner"></div>
<app-header-galery [hosting]="hosting"></app-header-galery>    

<div class="img-container">
  <img [src]="hosting.images" [alt]="hosting.name" class="galery-first-img">
  <img [src]="hosting.room.images[0]" [alt]="hosting.name" class="galery-second-img">
  <img [src]="hosting.room.images[1]" [alt]="hosting.name" class="galery-second-img">
  <img [src]="hosting.room.images[2]" [alt]="hosting.name" class="galery-second-img">
  <img [src]="hosting.room.images[3]" [alt]="hosting.name" class="galery-second-img">
</div>