.banner{
    height: 80px;
}

/* Contenedor principal de la galería */
.img-container {
  display: grid;
  grid-template-columns: 40% 30% 30%; /* 3 columnas: 40%, 30%, 30% */
  gap: 8px; /* Espacio entre las imágenes */
  margin: 1rem 3rem; /* Márgenes laterales de 4px */
}

/* Estilos específicos para la imagen principal */
.galery-first-img{
  grid-column: 1 / 2; /* Ocupa la primera columna */
  grid-row: 1 / 3; /* Ocupa dos filas */
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

/* Estilos para las imágenes secundarias */
.galery-second-img{
  grid-column: auto; /* Se colocan automáticamente en las columnas restantes */
  grid-row: auto; /* Se colocan automáticamente en las filas restantes */
  width: 100%;
  height: 100%;
  border-radius: 3%;
  object-fit: cover;
}